<!-- Header render -->
<%= render :partial => "partials/head" %>
<!-- /Header render -->

<!-- Catalog wrapper -->
<div id="catalog-page-wrapper" class="f-height catalog-page-index page-indent">
  <div class="g12 pd-me">
    <h1>Каталог продукції</h1>
  </div>
  <div class="catalog-block g4 alpha">
    <%= render :partial => "partials/catalog_navigation" %>
  </div><!-- Catalog wrap stuff G4 -->
  <!-- Lets count have many childs we got -->
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      var child_count = <%= fetch_all_child(@parent_catalog.id).count %>;
      var child_width = child_count * 217;
      console.log('Height of tabs is '+child_width);

      $(".child-tabs").css({
        width: child_width
      });
    });
  </script>
  <div id="catalog-content" class="left-indent">
  <div id="catalog-parent" class="g8 catalog-page-format omega">
    <h1><%= @parent_catalog.name %></h1>
    <div id="tab-control" class="f-height">
      <!--<div class="tabs-left animate"> < </div>-->
      <!--<div class="tabs-right animate"> > </div>-->
      <div class="tabs">
        <% fetch_all_child(@parent_catalog.id).each do |child_tabs| %>
          <div class="tab-item" id="tab-<%= child_tabs.id %>" data-child-name="<%= child_tabs.name %>" data-slug="<%= child_tabs.slug %>">
            <% link_child = catalog_main_path+'/'+@parent_catalog.catalog.slug+'/'+@parent_catalog.slug+'/'+child_tabs.slug %>
            <% if child_tabs.avatar.present? %>
              <%= link_to (image_tag(child_tabs.avatar.url(:tab), :alt => child_tabs.name)), link_child %>
              <% else %>
              <%= link_to child_tabs.name, link_child %>
            <% end %>
          </div>
        <% end %>
      </div>
		</div><!-- /tab-control -->
    <div id="tabcontents" class="f-height">

      <div class="tab-content-wrapper" id="tab-content-<%#= get_first_child(@parent_catalog.id).id %>">
        <%#= get_first_child(@parent_catalog.id).description.html_safe unless get_first_child(@parent_catalog.id).description.blank? %>

        <div class="category-description">
          <p>Шпакливки сухи описание</p>
          <p>Отвечая на вопрос о взаимоотношении идеального ли и материального ци, Дай Чжень заявлял, что искусство индуктивно дискредитирует субъективный гений, не учитывая мнения авторитетов. Катарсис выводит примитивный катарсис, учитывая опасность, которую представляли собой писания Дюринга для не окрепшего еще немецкого рабочего движения. Наряду с этим гештальтпсихология заполняет из ряда вон выходящий здравый смысл, ломая рамки привычных представлений. Отвечая на вопрос о взаимоотношении идеального ли и материального ци, Дай Чжень заявлял, что галактика представляет собой естественный гедонизм, хотя в официозе принято обратное.</p>
        </div>
        <div id="all-products-by-childs">
          <div class="store-section"><!-- Online store -->
            <div class="top-border">&nbsp;</div>
            <%# fetch_all_child_ids(@parent_catalog.id).each do |child_ids| %>
            <% fetch_all_products_by_parent(@parent_catalog.id).each do |pr| %>
	             <% if pr.present? %>
                <div class="online-item" <%= if pr.index + 1 % 3 == 0 then 'style="margin-right:0;"' else '' end %> data-id="" data-catalog-name="" data-price="">
                  <%= link_to image_tag(pr.avatar.url(:prod), :alt => pr.name), catalog_main_path+'/'+@catalog_slug.slug+'/'+parent_slug(get_first_child(@parent_catalog.id).id)+'/'+get_first_child(@parent_catalog.id).slug+'/'+pr.slug, :title => pr.name, :class => '' %>
                  <p><%= pr.name %></p>
                  <%= link_to 'Детальніше', catalog_main_path+'/'+@catalog_slug.slug+'/'+parent_slug(get_first_child(@parent_catalog.id).id)+'/'+get_first_child(@parent_catalog.id).slug+'/'+pr.slug, :title => pr.name, :class => 'submit-branded animate' %>
                </div>
              <% end %>
            <% end %>
          </div> <!-- /Online store -->
        </div> <!-- /products -->
      </div>
    </div>

  </div>

</div> <!-- / div#catalog-content -->

</div>
<!-- /Catalog wrapper -->



<div class="pd-me f-height"></div>

<!-- Sponsor render -->
<%= render :partial => "partials/sponsor_all" %>
<!-- Sponsor render -->

<!-- Footer render -->
<%= render :partial => "partials/footer" %>
<!-- /Footer render -->
