<!-- Header render -->
<%= render :partial => "partials/head" %>
<!-- /Header render -->

<!-- Catalog wrapper -->
<div id="catalog-page-wrapper" class="f-height catalog-page-index page-indent">
  <div class="g12 pd-me">
    <h1>Каталог продукції</h1>
  </div>
  <div class="catalog-block g4 alpha">
    <%= render :partial => "partials/catalog_navigation" %>
  </div><!-- Catalog wrap stuff G4 -->
  <!-- Lets count have many childs we got -->
  <div id="catalog-content" class="left-indent">
    <div id="catalog-parent" class="g8 catalog-page-format omega">
      <h1><%= @child_catalog.parent_catalog.name %></h1>
      <div id="tab-control" class="f-height">
        <!--<div class="tabs-left animate"> < </div>-->
        <!--<div class="tabs-right animate"> > </div>-->
        <div class="tabs">
          <% fetch_all_child(@child_catalog.parent_catalog_id).each do |child_tabs| %>
            <div class="tab-item <% if @child_catalog.id == child_tabs.id %> active <% end %>" id="tab-<%= child_tabs.id %>" data-child-name="<%= child_tabs.name %>" data-slug="<%= child_tabs.slug %>">
              <% link_child = catalog_main_path+'/'+@child_catalog.parent_catalog.catalog.slug+'/'+@parent_catalog.slug+'/'+child_tabs.slug %>
              <% if child_tabs.avatar.present? %>
                <%= link_to (image_tag(child_tabs.avatar.url(:tab), :alt => child_tabs.name)), link_child %>
              <% else %>
                <%= link_to child_tabs.name, link_child %>
              <% end %>
            </div>
          <% end %>
        </div>
      <%=  %>

      </div><!-- /tab-control -->
      <div id="tabcontents" class="f-height">
        <div class="tab-content-wrapper" id="tab-content-<%= @child_catalog.id %>">
          <div class="category-description">
            <%= @child_catalog.description.html_safe unless @child_catalog.description.blank? %>
          </div>
          <div id="all-products-by-childs">
            <div class="store-section"><!-- Online store -->
              <div class="top-border">&nbsp;</div>
              <%# fetch_all_child_ids(@parent_catalog.id).each do |child_ids| %>
              <% @child_catalog.products.each do |pr| %>
                <div class="online-item" data-id="" data-catalog-name="" data-price="">
                  <%= link_to image_tag(pr.avatar.url(:prod), :alt => pr.name), catalog_main_path+'/'+@catalog_slug.slug+'/'+parent_slug(get_first_child(@parent_catalog.id).id)+'/'+get_first_child(@parent_catalog.id).slug+'/'+pr.slug, :title => pr.name, :class => '' %>
                  <p><%= pr.name %></p>
                  <%= link_to 'Детальніше', catalog_main_path+'/'+@catalog_slug.slug+'/'+parent_slug(get_first_child(@parent_catalog.id).id)+'/'+get_first_child(@parent_catalog.id).slug+'/'+pr.slug, :title => pr.name, :class => 'button' %>
                </div>
              <% end %>
              <%# end %>
            </div> <!-- /Online store -->
          </div> <!-- /products -->
        </div>
      </div>

    </div>

  </div> <!-- / div#catalog-content -->

</div>
<!-- /Catalog wrapper -->




<div class="pd-me f-height"></div>

<!-- Sponsor render -->
<%= render :partial => "partials/sponsor_all" %>
<!-- Sponsor render -->

<!-- Footer render -->
<%= render :partial => "partials/footer" %>
<!-- /Footer render -->
