<!-- Header render -->
<%= render :partial => "partials/head" %>
<!-- /Header render -->

<!-- Catalog wrapper -->
<div id="catalog-page-wrapper" class="f-height catalog-page-index page-indent container">
	<div class="g12 pd-me">
		<h1>Каталог продукції</h1>
	</div>
	<div class="catalog-block g4 alpha">
		<% @new_catalogs.each do |catalog| %>
			<script type="text/javascript">
				$(document).ready(function(){
					var catalog_id = <%= @new_catalog.id %>
					if(catalog_id == <%= catalog.id %>){
						$('#status-<%= @new_catalog.id %>').text('-');
						$('#menu-cat-<%= @new_catalog.id %>').addClass('visited');
					}
					$("#main-cat-<%= catalog.id %>").click(function(){
						window.location.href = "<%= new_catalog_all_path+'/'+catalog.slug %>";
					});
				});
			</script>
			<div class="catalog-item"  data-category-name="<%= catalog.slug %>" data-category-id="<%= catalog.id %>">
				<a class="catalog-show-more animate" id="main-cat-<%= catalog.id %>"><%= catalog.name %><span data-opened="false" id="status-<%= catalog.id %>">+</span></a>
				<ul class="catalog-menu" id="menu-cat-<%= catalog.id %>">
					<% get_all_parent_catalogs_by_id(catalog.id).each do |parent| %>
						<% if parent.new_child_catalogs.present? %>
							<script type="text/javascript">
								$(document).ready(function(){
									var parent_italic_id = <%= parent.id %>;
									if(parent_italic_id == <%= @new_parent_catalog.id %>){
										$('#if-visited<%= @new_parent_catalog.id %>').css({
											'font-style': 'italic'
										});
									}
								});
							</script>
							<li><%= link_to parent.name, new_catalog_path(catalog)+'/'+parent.slug, :title => parent.name, :id => 'if-visited' + parent.id.to_s %><span data-opened="false" id="sub-status-<%= parent.id %>" class="sub-menu-status">+</span>
								<script type="text/javascript" charset="utf-8">
									$(document).ready(function() {
										$("#sub-status-<%= parent.id %>").text("+");
										$('.sub-status-ul-<%= parent.id %>').hide();
										$("#sub-status-<%= parent.id %>").click(function(){
											$('.sub-status-ul-<%= parent.id %>').slideToggle('slow', function() {
												// Animation complete.
											});
											$(this).each(function (i) {
												if($(this).text() != "-"){
													$(this).text("-");
												}else{
													$(this).text("+");
												}
											});
										});
									});
								</script>
								<script type="text/javascript">
									$(document).ready(function(){
										var parent_id = <%= @new_parent_catalog.id %>;
										if(parent_id == <%= parent.id %>){
											$('.sub-status-ul-<%= @new_parent_catalog.id %>').show();
											$("#sub-status-<%= @new_parent_catalog.id %>").text("-");
										}
									});
								</script>
								<ul class="sub-status-ul-<%= parent.id %>">
									<% get_all_child_catalogs_by_id(parent.id).each do |child| %>
										<script type="text/javascript">
											$(document).ready(function(){
												var child_visited = <%= @new_child_catalog.id %>;
												if(child_visited == <%= child.id %>){
													$('#if-visited-child<%= @new_child_catalog.id %>').css({
														'font-style': 'italic'
													});
													$('#tab-<%= @new_child_catalog.id %>').addClass('active');
												}
											});
										</script>
										<li><%= link_to child.name, new_catalog_path(catalog)+'/'+parent.slug+'/'+child.slug, :title => child.name, :id => 'if-visited-child' + child.id.to_s %></li>
									<% end %>
								</ul>
							</li>
						<% else %>
							<li><%= link_to parent.name, new_catalog_path(catalog)+'/'+parent.slug, :title => parent.name %><!-- span>+</span --></li>
						<% end %>
					<% end %>
				</ul>
			</div><!-- Catalog Item -->
		<% end %>
	</div><!-- Catalog wrap stuff G4 -->
	<div id="catalog-content" class="left-indent">
		<div id="catalog-parent" class="g8 catalog-page-format omega">
			<%#= @new_product.inspect %>
			<h1><%= @new_product.name %></h1>
			<style type="text/css">
				.avatar-pr{
					text-align: center;
				}
			</style>
			<div class="avatar-pr">
				<%= image_tag @new_product.avatar.url(:main), :alt => @new_product.name %>
			</div>
			<div class="description-pr">
				<%= @new_product.description.html_safe unless @new_product.description.blank? %>
			</div>
		</div><!-- catalog parent -->
	</div><!-- catalog content -->


</div>
<!-- /Catalog wrapper -->
<div class="pd-me f-height"></div>

<!-- Sponsor render -->
<%= render :partial => "partials/sponsor-all" %>
<!-- Sponsor render -->

<!-- Footer render -->
<%= render :partial => "partials/footer" %>
<!-- /Footer render -->
