<!-- Header render -->
<%= render :partial => "partials/head" %>
<!-- /Header render -->

<!-- Catalog wrapper -->
<div id="catalog-page-wrapper" class="f-height catalog-page-index page-indent container">
	<div class="g12 pd-me">
		<h1>Каталог продукції</h1>
	</div>
	<div class="catalog-block g4 alpha">
		<% @new_catalogs.each do |catalog| %>
			<script type="text/javascript">
				$(document).ready(function(){
					var catalog_id = <%= @new_catalog.id %>
					if(catalog_id == <%= catalog.id %>){
						$('#status-<%= @new_catalog.id %>').text('-');
						$('#menu-cat-<%= @new_catalog.id %>').addClass('visited');
					}
				});
			</script>
			<div class="catalog-item"  data-category-name="<%= catalog.slug %>" data-category-id="<%= catalog.id %>">
				<script type="text/javascript">
					$(document).ready(function(){
						$('#main-cat-<%= catalog.id %>').dblclick(function(){
							window.location.href = '<%= new_catalog_path(catalog) %>';
						});
					});
				</script>
				<a class="catalog-show-more animate" id="main-cat-<%= catalog.id %>"><%= catalog.name %><span data-opened="false" id="status-<%= catalog.id %>">+</span></a>
				<ul class="catalog-menu" id="menu-cat-<%= catalog.id %>">
					<% get_all_parent_catalogs_by_id(catalog.id).each do |parent| %>
						<% if parent.new_child_catalogs.present? %>

							<li><%= link_to parent.name, new_catalog_path(catalog)+'/'+parent.slug, :title => parent.name %><span data-opened="false" id="sub-status-<%= parent.id %>" class="sub-menu-status">+</span>
								<script type="text/javascript" charset="utf-8">
									$(document).ready(function() {
										$("#sub-status-<%= parent.id %>").text("+");
										$('.sub-status-ul-<%= parent.id %>').hide();
										$("#sub-status-<%= parent.id %>").click(function(){
											$('.sub-status-ul-<%= parent.id %>').slideToggle('slow', function() {
												// Animation complete.
											});
											$(this).each(function (i) {
												if($(this).text() != "-"){
													$(this).text("-");
												}else{
													$(this).text("+");
												}
											});
										});
									});
								</script>
								<ul class="sub-status-ul-<%= parent.id %>">
									<% get_all_child_catalogs_by_id(parent.id).each do |child| %>
										<li><%= link_to child.name, new_catalog_path(catalog)+'/'+parent.slug+'/'+child.slug, :title => child.name %></li>
									<% end %>
								</ul>
							</li>
						<% else %>
							<li><%= link_to parent.name, new_catalog_path(catalog)+'/'+parent.slug, :title => parent.name %><!-- span>+</span --></li>
						<% end %>
					<% end %>
				</ul>
			</div><!-- Catalog Item -->
		<% end %>
	</div><!-- Catalog wrap stuff G4 -->
	<div id="catalog-content" class="left-indent g8">
		<div id="catalog-main" class="g12 catalog-page-contact omega">
			<h1 id=""><%= @new_catalog.name %></h1> <br>

			<%= @new_catalog.description.html_safe unless @new_catalog.description.blank? %>

		</div>
	</div>


</div>
<!-- /Catalog wrapper -->
<div class="pd-me f-height"></div>

<!-- Sponsor render -->
<%= render :partial => "partials/sponsor-all" %>
<!-- Sponsor render -->

<!-- Footer render -->
<%= render :partial => "partials/footer" %>
<!-- /Footer render -->
