<!-- Header render -->
<%= render :partial => "partials/head" %>
<!-- /Header render -->

<!-- Catalog wrapper -->
<div id="catalog-page-wrapper" class="f-height catalog-page-index page-indent container">
	<div class="g12 pd-me">
		<h1>Каталог продукції</h1>
	</div>
	<div class="catalog-block g4 alpha">
		<% @new_catalogs.each do |catalog| %>
			<div class="catalog-item"  data-category-name="<%= catalog.slug %>" data-category-id="<%= catalog.id %>">
				<script type="text/javascript">
					$(document).ready(function(){
						$('#main-cat-<%= catalog.id %>').dblclick(function(){
							window.location.href = '<%= new_catalog_path(catalog) %>';
						});
					});
				</script>
				<a class="catalog-show-more animate" id="main-cat-<%= catalog.id %>"><%= catalog.name %><span data-opened="false" id="status-<%= catalog.id %>">+</span></a>
				<ul class="catalog-menu" id="menu-cat-<%= catalog.id %>">
					<% get_all_parent_catalogs_by_id(catalog.id).each do |parent| %>
						<li><%= link_to parent.name, new_catalog_path(catalog)+'/'+parent.slug, :title => parent.name %><!-- span>+</span --></li>
					<% end %>
				</ul>
			</div><!-- Catalog Item -->
		<% end %>
	</div><!-- Catalog wrap stuff G4 -->
	<div id="catalog-content" class="left-indent g8">
		<div id="catalog-main" class="g12 catalog-page-contact omega">
			<h1 id=""><%= @description_dummy.name %></h1>
			<%= @description_dummy.description.html_safe unless @description_dummy.description.blank? %>
		</div>
	</div>


</div>
<!-- /Catalog wrapper -->
<div class="pd-me f-height"></div>

<!-- Sponsor render -->
<%= render :partial => "partials/sponsor_all" %>
<!-- Sponsor render -->

<!-- Footer render -->
<%= render :partial => "partials/footer" %>
<!-- /Footer render -->
