<!-- Header render -->
<%= render :partial => "partials/head" %>
<!-- /Header render -->
<!-- Articles -->
<div id="articles-wrapper" class="f-height">
  <!-- Article slider -->
  <div class="shadow-top"></div>

  <div class="main-banner-bg">
		<div class="g12 f-height">
			<%= render :partial => 'partials/article_banner' %>
		</div>
  </div>

  <div class="shadow-bottom"></div>
  <!-- /Article slider -->
  <div class="g12">
    <h1>Статті</h1>
  </div>
	<% @articles.each do |article| %>
		<div class="g6 news-item <%= cycle('alpha g6-alpha', 'omega g6-omega') %> ">
			<h2 class="article-header"><%= link_to article.name, article_item_path(article), :title => article.name %></h2>
			<div class="image-cont"><%= link_to(image_tag(article.avatar.url('main')), article_item_path(article), :title => article.name) %></div>
			<p class="article-short-description"><%= article.short_description %></p>
		</div><!-- g6 news-item -->
	<% end %>
</div>
<!-- /Articles -->

<!-- Sponsor render -->
<%= render :partial => "partials/sponsor-all" %>
<!-- Sponsor render -->
<!-- Footer render -->
<%= render :partial => "partials/footer" %>
<!-- /Footer render -->
