<!-- Header render -->
<%= render :partial => "partials/head" %>
<!-- /Header render -->

<!-- About section -->
  <div id="about-wrapper" class="container page-content page-indent">
    <div class="g12 pd-me">
      <h1>Про компанію</h1>
    </div>
    <div class="g3 alpha main-descr-img">
      <%= image_tag('logo-big.jpg') %>
    </div>
    <div class="g9 fd omega pd-me">
      <h1><%= @text_about.name %></h1>
			<%= @text_about.description.html_safe unless @text_about.blank? %>
      <!--<%= @about_page.top_description %>
      <% @about_page.about_page_sponsors.each do | s | %>
        <div class="about-page-sponsor">
          <%= link_to( s.name, s.url ) %>
          <%= s.short_description %>
        </div>
      <% end %> -->
    </div>


    <!-- Spec descr -->
      <div class="g3 alpha spec-img">
        <%= image_tag('spec-example.png') %>
      </div>

      <div class="g9 omega spec-descr">
        <h2>Кваліфіковані спеціалісти відділу продажу</h2>
        <p class="about-fd">Кваліфіковані спеціалісти відділу продажу завжди нададуть консультацію щодо необхідного товару, його складників, властивостей та безпеки. Вони допоможуть Вам у питаннях вибору матеріалів, формуванні асортименту та комплектації об’єкта. Весь товар, що реалізовується у ТМ «Десятка» має відповідні санітарні сертифікати та заключення.</p>
      </div>
    <!-- /Spec descr -->
  </div>
<!-- /About section -->

<!-- Sponsor render -->
<%= render :partial => "partials/sponsor-all" %>
<!-- Sponsor render -->

<!-- Footer render -->
<%= render :partial => "partials/footer" %>
<!-- /Footer render -->
