<%= render :partial => "partials/unsupported_browsers" %>
<!-- Header render -->
<%= render :partial => "partials/head" %>
<!-- /Header render -->

<!-- Banner render -->
<%= render :partial => "partials/banner_home" %>
<!-- Banner render -->

<!-- Info area -->
<div id="info-wrapper" class="f-height">
  <div class="g4 alpha main-descr-img">
    <%= image_tag('logo-big.jpg') %>
  </div>

  <div id="about" class="g8 omega main-descr-area">
    <h1><%= @text.name %></h1>
    <%= @text.description.html_safe unless @text.description.blank? %>
   </div>
</div>
<!-- /Info area -->

<!-- Catalog render -->
<%= render :partial => "partials/catalog_home" %>
<!-- Catalog render -->

<!-- Article render -->
<%= render :partial => "partials/article_home" %>
<!-- Article render -->

<!-- Sponsor render -->
<%= render :partial => "partials/sponsor_all" %>
<!-- Sponsor render -->

<!-- Footer render -->
<%= render :partial => "partials/footer" %>
<!-- /Footer render -->
