<!-- Catalog wrapper -->
<div id="catalog-page-wrapper" class="f-height catalog-page-index page-indent container">
	<div class="g12 pd-me">
		<h1>Каталог продукції</h1>
	</div>
	<%= render "catalog_navigation" %>
	<div id="catalog-content" class="left-indent">
		<div id="catalog-parent" class="g8 catalog-page-format omega">
			<%= render "tabs" %>
			<div class="parent-description">
				<h1><%= @sub_sub_category.name %></h1> <br>
				<%= @sub_sub_category.description.html_safe unless @sub_sub_category.description.blank? %>
			</div>
			<div class="clearfix">&nbsp;</div>
			<div id="all-products-by-childs">

				<div class="store-section"><!-- Online store -->
					<div class="top-border">&nbsp;</div>
					<%# fetch_all_child_ids(@parent_catalog.id).each do |child_ids| %>
					<% @sub_sub_category.new_products.each do |pr| %>
						<div class="online-item" data-id="" data-catalog-name="" data-price="">
							<%= link_to image_tag(pr.avatar.url(:prod), :alt => pr.name), pr.url, :title => pr.name, :class => '' %>
							<p><%= pr.name %></p>
							<%= link_to 'Детальніше', pr.url, :title => pr.name, :class => 'submit-branded animate' %>
						</div>
					<% end %>
					<%# end %>
				</div> <!-- /Online store -->
			</div> <!-- /products -->


		</div><!-- catalog parent -->
	</div><!-- catalog content -->


</div>
<!-- /Catalog wrapper -->
<div class="pd-me f-height"></div>
